# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.sqlite3
/media/
/staticfiles/
/venv/
.env
.env.local
.env.production
.env.development

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
