
{% extends 'base.html' %}
    {% block title %}
        Search
    {% endblock %}
{% block start %}

<section class="banner banner__default bg-grey-light-three">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="post-title-wrapper">
                    <h2 class="m-b-xs-0 axil-post-title hover-line">Search : "{{ query }}"</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-gap section-gap-top__with-text search-stories">
    <div class="container">
        <div id="searchContainer" class="row">
            <!-- News results will be inserted here -->
             
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchContainer = document.getElementById('searchContainer');

        // Clear existing content
        searchContainer.innerHTML = '';

        // Parse the JSON data passed from the Django view
        const combined_results = {{ combined_results_json|safe }};
        const news_results = combined_results.news;
        const epaper_results = combined_results.epapers;
        const lokhitmovement_results = combined_results.lokhitmovement;
        // Check if there are no results
        if (news_results.length === 0 && epaper_results.length === 0 && lokhitmovement_results.length === 0) {
            searchContainer.innerHTML = `
                <div class="col-lg-12">
                    <img src="/static/images/no-result.png" class="img-fluid" alt="">
                </div>
            `;
        } else {
            // Loop through each news result
            news_results.forEach(result => {
                let articleHTML = `
                    <div class="col-lg-4">
                        <div class="axil-img-container m-b-xs-30">
                            <a href="/news/${result.id}" class="d-block">
                                <img src="${result.image || '/static/images/default_image.png'}" alt="${result.title}" class="w-100">
                                <div class="grad-overlay"></div>
                            </a>
                            <div class="media post-block position-absolute">
                                <div class="media-body">
                                    <div class="post-cat-group m-b-xs-10">
                                        <a href="/${result.category_url}" class="post-cat cat-btn " style="background-color: ${result.category_color};">
                                            ${result.category}
                                        </a>
                                    </div>
                                    <div class="axil-media-bottom">
                                        <h3 class="axil-post-title hover-line">
                                            <a href="/news/${result.id}">${result.title}</a>
                                        </h3>
                                        <div class="post-metas">
                                            <ul class="list-inline">
                                                <li>By <a href="#" class="post-author">${result.author}</a></li>
                                                <li><i class="dot">.</i>${result.date}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                searchContainer.innerHTML += articleHTML;
            });

            // Loop through each epaper result
            epaper_results.forEach(result => {
                let epaperHTML = `


                 <div class="col-lg-4">
                <div class="axil-img-container m-b-xs-30">
                    <a href="${result.pdf}" class="d-block" target="_blank">
                        {% load static %}
                        <img src="{% static 'images/gt-epaper-daily.jpg' %}" alt="ePaper PDF" class="w-100">
                        <div class="grad-overlay"></div>
                    </a>
                    <div class="media post-block position-absolute">
                         <div class="media post-block position-absolute">
                                <div class="media-body">
                                    <div class="post-cat-group m-b-xs-10">
                                        <a href="/epaper-daily" class="post-cat cat-btn " style="background-color: #7D0552;">
                                            E Paper
                                        </a>
                                    </div>
                                    <div class="axil-media-bottom">
                                        <h3 class="axil-post-title hover-line">
                                            <a href="http://127.0.0.1:8000${result.pdf}" target="_blank">${result.title}</a>
                                        </h3>
                                        <div class="post-metas">
                                            <ul class="list-inline">
                                                <li>By <a href="#" class="post-author">Gujarat Today</a></li>
                                                <li><i class="dot">.</i>${result.uploaded_at}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        
                    </div>
                </div>
            </div>

                `;
                searchContainer.innerHTML += epaperHTML;
            });



            lokhitmovement_results.forEach(result => {
                let lokhitmovementHTML = `


                 <div class="col-lg-4">
                <div class="axil-img-container m-b-xs-30">
                    <a href="${result.pdf}" class="d-block" target="_blank">
                        {% load static %}
                        <img src="{% static 'images/gt-epaper-daily.jpg' %}" alt="ePaper PDF" class="w-100">
                        <div class="grad-overlay"></div>
                    </a>
                    <div class="media post-block position-absolute">
                         <div class="media post-block position-absolute">
                                <div class="media-body">
                                    <div class="post-cat-group m-b-xs-10">
                                        <a href="/lokhit-movement" class="post-cat cat-btn " style="background-color: #473810;">
                                            Lokhit Movement
                                        </a>
                                    </div>
                                    <div class="axil-media-bottom">
                                        <h3 class="axil-post-title hover-line">
                                            <a href="http://127.0.0.1:8000${result.pdf}" target="_blank">${result.title}</a>
                                        </h3>
                                        <div class="post-metas">
                                            <ul class="list-inline">
                                                <li>By <a href="#" class="post-author">Gujarat Today</a></li>
                                                <li><i class="dot">.</i>${result.uploaded_at}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        
                    </div>
                </div>
            </div>

                `;
                searchContainer.innerHTML += lokhitmovementHTML;
            });




        }
    });
</script>


{% endblock %}
