<div class="col-lg-4">
    <aside class="post-sidebar">

        <div class="newsletter-widget weekly-newsletter bg-grey-light-three m-b-xs-40">
            <div class="newsletter-content">
                <div class="newsletter-icon">
                    <i class="feather icon-send"></i>
                </div>
                <div class="section-title">
                    <h3 class="axil-title">Subscribe To Our Daily Newsletter</h3>
                    <p class="mid m-t-xs-10 m-b-xs-20">No spam, notifications only about new
                        products,
                        updates.</p>
                </div>
                <!-- End of .section-title -->

                <div class="subscription-form-wrapper">
              
                    <form method="post" action="{% url 'subscribe' %}" class="subscription-form row no-gutters">
                        {% csrf_token %}
                        <div class="form-group form-group-small m-b-xs-20">
                            <label for="subscription-email">Enter Email Address</label>
                            <input type="email" name="subscription-email" id="subscription-email" required>
                        </div>
                        <div class="m-b-xs-0">
                            <button type="submit" class="btn btn-primary btn-small">SUBSCRIBE</button>
                        </div>
                    </form>
                    {% if messages %}
						<script>
							$(document).ready(function() {
								{% for message in messages %}
									Swal.fire({
										title: '{% if message.tags == "error" %}Error!{% else %}Success!{% endif %}',
										text: '{{ message|escapejs }}',
										icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
										confirmButtonText: 'Okay'
									});
								{% endfor %}
							});
						</script>
					{% endif %}
                    <!-- End of .subscription-form -->
                </div>
                <!-- End of .subscription-form-wrapper -->
            </div>
            <!-- End of .newsletter-content -->
        </div>
        <!-- End of  .newsletter-widget -->

        <div class="category-widget m-b-xs-40">
            <div class="widget-title">
                <h3>Categories</h3>
                <div class="owl-nav">
                    <button class="custom-owl-prev"><i class="feather icon-chevron-left"></i></button>
                    <button class="custom-owl-next"><i class="feather icon-chevron-right"></i></button>
                </div>
            </div>


            <div class="category-carousel owl-carousel inner-category-design" id="rushan">
                {% for category in categories %}
                <div class="category-list perfect-square">
                    <a href="/{{category.category_url}}" class="list-inner" style="background-image: url('{{ category.image.url }}'); background-size: cover;">
                        <div class="post-info-wrapper overlay">
                            <div class="counter-inner"><span class="counter">{{ category.new_set.count }}</span>+
                            </div>
                            <h4 class="cat-title text-center">{{ category.name }}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>


            <!-- End of .category-carousel -->
        </div>
        <!-- End of .category-widget -->

       
        <!-- End of .sidebar-social-share -->

      


    </aside>
    <!-- End of .post-sidebar -->
</div>


<script>
  $(document).ready(function () {
    var owl = $('#rushan').owlCarousel({
        loop: true,
        margin: 10,
        nav: false, // Disable default navigation
        items: 2, // Show four items at a time
        slideBy: 1, // Slide by four items
        autoplay: false,
        autoplayTimeout: 3000,
        autoplayHoverPause: true
    });

    // Custom navigation buttons functionality
    $('.custom-owl-prev').click(function () {
        owl.trigger('prev.owl.carousel', [300]); // Optional speed parameter (300 ms)
    });

    $('.custom-owl-next').click(function () {
        owl.trigger('next.owl.carousel', [300]); // Optional speed parameter (300 ms)
    });
});

</script>